<!DOCTYPE html>
   <head>
      <title>NetworkChuck Halloween</title>
      <link rel="stylesheet" href="../static/style.css/">
   <center><h1>DRUNKEN LED</h1></center><br>
   <center><img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/RBG-LED.jpg" alt="haha" width="350" height="200"></center>
    </head>
   <center><body>
<form action="/red" method="GET">
            <input type="submit" name="red" id="red" value="ACTIVATE RED COLOR" width="200" height="50">
        </form>

        <form action="/green" method="GET">
            <input type="submit" name="green" id="green" value="ACTIVATE GREEN COLOR" width="200" height="50">
        </form>
        <form action="/blue" method="GET">
            <input type="submit" name="blue" id="blue" value="ACTIVATE BLUE COLOR" width="200" height="50">
        </form>
        <form action="/white" method="GET">
            <input type="submit" name="white" id="white" value="ACTIVATE WHITE COLOR" width="200" height="50">
        </form>          
</center>
   </body>
</html>
